@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito&family=PT+Serif&family=Playfair:ital,wght@0,500;0,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif&family=Nunito&family=PT+Serif&family=Playfair:ital,wght@0,500;0,600;1,800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Playfair", sans-serif;
	position: relative;
	--white: #ebebeb;
	--pink:  #ff4081;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    padding-top: 50px;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
   background: url(/src/Components/images/home.jpg) no-repeat;
   background-size: cover;
   background-position: center;
    
}
.home .home-text{
    max-width: 60rem;
    margin-left: 30px;

}
.home .home-text h1{
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing:0.3cm ;
    color: #473a4a;
}
.home .home-text h3{
    font-size: 2rem;
    font-weight: lighter;
    padding: 1rem 0;
    color: #473a4a;

}
.home .home-text h3 span{
    color: var(--pink);
}
.home .home-text p{
    font-size: 25px;
    color: #473a4a;
    font-style: italic;
}
.home .btn{
    background-color: var(--pink);
    color:white;
    font-size: 20px;
    
}
.home .btn:hover{
    background-color:#2f2231;
}
.arrival{
    margin-top: 70px;
    background: url(/src/Components/images/home1.jpg) no-repeat;
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin-left: 9%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.arrival .arrival-text h1{
    margin-left: 40px;
    font-family: 'Dancing Script', cursive;
    color: var(--pink);
    font-size: 50px;
    font-size: 4em;

}
.arrival .arrival-text p{
    margin-left: 40px;

}
.arrival .arrival-text h3{
    margin-left: 40px;
    color: var(--pink);
    font-size: 1.4em;
    padding: 2rem 0;

}

.container {
	max-width: 70%;
    margin-top: 30px;
	padding: 40px;
    box-shadow: rgba(219, 63, 63, 0.05) 0px 0px 0px 1px;
    background-color: rgb(248, 248, 249);  
}
.container .flowers h2{
  text-align: center;
  font-weight:bolder;
}
  
  .flower-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .flower-item {
	width: 200px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-align: center;
  }
  
  .flower-item img {
	width: 100%;
	max-height: 150px;
	object-fit: cover;
	border-radius: 4px;
  }
  
  .flower-details {
	margin-top: 10px;
  }
  .flower-details h3{
    font-size: 20px;
  }
  .cart-list {
	list-style: none;
	padding: 0;
  }
  
  .cart-list li {
    font-weight:bolder;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
  }
  .cart-list h3 {
   font-size: 20px;
  }
    .container .flowers button {
	display: block;
	margin-top: 10px;
    background-color: var(--pink);
    color: white;  
    font-size: 15px;
    margin-left: 45px; 
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ddd;
    

}
.container .flowers button:hover {
    background-color:#2f2231;
}
.container .cart h2{
    text-align: center;
    font-weight:bolder;
}
.container .cart button{
    background-color: var(--pink);
    border-radius: 4px;
    padding: 5px;
    color: white;  
    border: 1px solid #ddd;
   margin-left: 5px;
   margin-right: 5px;


}
.container .cart button:hover{
    background-color:#2f2231;

}
.container .cart p{
    margin-top: 20px;
    color: green;
}

.c-item{
	height: 400px;
	margin-top: 10px;
}
.c-img{
	height: 100%;
}
.person{
	height: 7rem;
	width:7rem;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 50px;
}
.carousel-item h5{
	color: rgb(28, 22, 22);
}
.carousel-item p{
	color: black;
}
.review h2{
text-align: center;
margin-top: 20px;
font-weight: 700;
background-color: rgb(246, 239, 244);
}
.review h2:hover{
    color: var(--pink);
}
.about{
    background: url(/src/Components/images/aboutback.jpg)  ;
    
    background-size: cover;
   background-position: center;
   width: 100%;

}
.about-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;

  }
  
  .about-us-image {
    flex: 1;
  }
  
  .about-us-content {
    flex: 1;
    padding: 20px;
  }
  
  .about-us-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  .about-us-content p {
    margin-bottom: 20px;
    color: black;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .about-us-image img {
    width: 60%;
    height: auto;
    border-radius: 4%;
    margin-left: 30%;
    opacity: 0.7;

  }
.contact form{
    flex: 1 1 45rem;
    padding: 2rem 2rem;
    text-align: center;
}
.contact form h3{
    font-size: 2.5rem;
}
.contact form .inputbox{
    align-items: center;
    margin-top: 1.5rem;
}
.contact form .inputbox input{
width: 30%;

}
.contact form .inputarea input{
padding: 2rem;
margin-top: 20px;
width: 30%;

}
.contact .btn{
margin-top: 20px;
}
.frame-item{
    margin-top: 30px;
}