@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito&family=PT+Serif&family=Playfair:ital,wght@0,500;0,600;1,800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Playfair", sans-serif;
	position: relative;
	--white: #ebebeb;
	--pink: #b730c1;
}* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}